---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const juegos = await getCollection("juegos");
---

<Layout title="Videojuegos">
    <div>
        <Header />
    </div>
    <div class="mt-6 font-arvo font-bold font-staatliches text-5xl text-center">
		<h1 class="text-lime-800">Videojuegos</h1>
	</div>
    <div class="gap-4 md:gap-8 grid grid-cols-1 md:grid-cols-2 mx-12 mt-4 md:px-32">
        {
            juegos.map((juego:any) => (
                <div class="bg-white/60 shadow-md my-4 p-4 rounded-lg w-full text-lime-600 transform hover:scale-105 duration-200">
                    <a href={`/juegos/${juego.slug}`}>
                        <div class="gap-4 grid grid-cols-2 md:grid-cols-1">
                            <div>
                                <img src={`/${juego.data.img}`} alt="" class="rounded-lg">
                            </div>
                            <div>
                                <h1 class="font-arvo font-bold font-staatliches text-2xl">{`${juego.data.title}`}</h1>
                                <p class="text-black">
                                    Plataforma: {`${juego.data.platform}`}
                                    <br>
                                    Modo: {`${juego.data.mode}`}
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            ))
        }
    </div>
    <div>
        <Footer />
    </div>
</Layout>