---
import { getCollection, type CollectionEntry } from "astro:content";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import LayoutJuegos from "../../layouts/LayoutJuegos.astro";

export async function getStaticPaths() {
  const response = await fetch("https://script.googleusercontent.com/a/macros/colegiolitterator.com/echo?user_content_key=odtldbdrYQbw94RCJhhiHigcTFomO25iqdWW_SXgkHZvOxmyl5Y15Um0TlhC7LuuO354Oh5IXECfc8xTuKfixcFcs3CEWq_6OJmA1Yb3SEsKFZqtv3DaNYcMrmhZHmUMi80zadyHLKBQcMZTTj8z7Iv82U9_elSZEYLYKFs9pIdLhyHCd5hHa1qkMsXZOxsBtv68oDXYyUHkT_Rro7QT6NbyKm3rkARHYBJ3SNfuGPYsdqCBMkB_1DEN4iRADXsWk3DwbGNpNI71gQx8oAdV8kTW8i-e4i7lncuLlDTytQsu0YHUFGrgc7YDjsOSvy5mne1XwzDA-EP0eyVqLPyWEhppzBkSBKgHK8DWiGRoRnU&lib=Mc7pr-Q_-1grpYrEAztbvjVBX5cZadp3Y");
  if (!response.ok) {
    throw new Error(`Error al obtener datos: ${response.statusText}`);
  }
  const jugadoresResponse = await response.json();
  const jugadores = jugadoresResponse.data; 

  const juegos = await getCollection("juegos");
  return juegos.map((juego) => ({
    params: { id: juego.slug },
    props: {
      juego,
      jugadores: jugadores.filter((jugador: any) => jugador[6].includes(juego.data.title)),
    },
  }));
}

const { juego, jugadores } = Astro.props;
const { Content } = await juego.render(); 

---

<LayoutJuegos title={juego.data.title}>
	<div class="bg-white">
		<Header />
	</div>
	<div class="grid grid-cols-1 xl:grid-cols-4">
		<div class="col-span-1">
			<div class="bg-white/60 shadow-md mx-12 my-4 mt-4 rounded-lg xl:h-full text-black">
				<img src={`/${juego.data.imgv}`} class="xl:inline hidden rounded-lg w-full h-full object-cover">
				<img src={`/${juego.data.imgh}`} class="inline xl:hidden rounded-lg">
			</div>
		</div>

		<div class="col-span-3">
			
			<div class="bg-white/60 shadow-md mx-12 my-4 mt-4 p-4 rounded-lg text-black">
				<div class="mt-6 font-arvo font-bold font-staatliches text-5xl text-center">
					<h1 class={`
						${juego.data.title.toLowerCase() === 'league of legends' 
							? 'text-pink-400' 
							: 'text-black'
						}
						${juego.data.title.toLowerCase() === 'dragon ball sparking zero' 
							? 'text-blue-600'
							: 'text-black'
						}
						${juego.data.title.toLowerCase() === 'fifa 2025' 
							? 'text-black' 
							: 'text-black'
						}
						${juego.data.title.toLowerCase() === 'rocket league' 
							? 'text-blue-700' 
							: 'text-black'
						}
							
					`}>{juego.data.title}</h1>
				</div>
				<div class="p-4 rounded-lg">
					<h1 class="font-arvo font-bold font-staatliches text-xl">Info</h1>
					<div class="">
						<Content />
					</div>
					
				</div>
				<div class="bg-red-100 p-4 rounded-lg">
					<div class="flex items-center self-center">
						<svg class="w-6 h-auto fill-red-600" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 478.125 478.125" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <g> <circle cx="239.904" cy="314.721" r="35.878"></circle> <path d="M256.657,127.525h-31.9c-10.557,0-19.125,8.645-19.125,19.125v101.975c0,10.48,8.645,19.125,19.125,19.125h31.9 c10.48,0,19.125-8.645,19.125-19.125V146.65C275.782,136.17,267.138,127.525,256.657,127.525z"></path> <path d="M239.062,0C106.947,0,0,106.947,0,239.062s106.947,239.062,239.062,239.062c132.115,0,239.062-106.947,239.062-239.062 S371.178,0,239.062,0z M239.292,409.734c-94.171,0-170.595-76.348-170.595-170.596c0-94.248,76.347-170.595,170.595-170.595 s170.595,76.347,170.595,170.595C409.887,333.387,333.464,409.734,239.292,409.734z"></path> </g> </g> </g> </g></svg>
						<h2 class="ml-2 font-arvo font-bold font-staatliches text-red-600 text-xl">IMPORTANTE</h2>
					</div>
					<p class="text-red-900">{juego.data.need}</p>
				</div>
				
			</div>

			<div class="bg-white/60 shadow-md mx-12 my-4 mt-4 p-4 rounded-lg text-black">
				<div class="mt-6 font-arvo font-bold font-staatliches text-5xl text-center">
					<h1 class={`
						${juego.data.title.toLowerCase() === 'league of legends' 
							? 'text-pink-400' 
							: 'text-black'
						}
						${juego.data.title.toLowerCase() === 'dragon ball sparking zero' 
							? 'text-blue-600'
							: 'text-black'
						}
						${juego.data.title.toLowerCase() === 'fifa 2025' 
							? 'text-black' 
							: 'text-black'
						}
						${juego.data.title.toLowerCase() === 'rocket league' 
							? 'text-blue-700' 
							: 'text-black'
						}
							
					`}>Jugadores</h1>
				</div>
				<div class="gap-4 grid grid-cols-1 md:grid-cols-4 xl:grid-cols-6 mx-12 my-4">
					{jugadores.map((jugador:any) => (
						<div class="bg-white/60 shadow-md p-4 rounded-lg w-full text-lime-600">
							<h1 class={`font-bold md:text-xl text-lg break-words
								${juego.data.title.toLowerCase() === 'league of legends' 
									? 'text-pink-400' 
									: 'text-black'
								}
								${juego.data.title.toLowerCase() === 'dragon ball sparking zero' 
									? 'text-blue-600'
									: 'text-black'
								}
								${juego.data.title.toLowerCase() === 'fifa 2025' 
									? 'text-black' 
									: 'text-black'
								}
								${juego.data.title.toLowerCase() === 'rocket league' 
									? 'text-blue-700' 
									: 'text-black'
								}
								`}>{jugador[4]}</h1>
							<p class="text-black">{jugador[5]}</p>
						</div>
					))}
				</div>
			</div>
		</div>
	</div>
		
	
	<Footer />
	
</LayoutJuegos>